openapi: 3.1.0
info:
  title: DAAI - APIS
  version: 1.0.0
servers:
  - url: https://apim.doctorassistant.ai/api/sandbox
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-daai-api-key
      description: Clave de API para autenticación
security:
  - ApiKeyAuth: []
tags:
  - name: Consultations
  - name: Exams
  - name: Summaries
paths:
  /consultations/v2:
    post:
      tags:
        - Consultations
      summary: Comenzar consulta
      description: Comenza una nueva consulta médica. Retorna los IDs necesarios para enviar los chunks de audio.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                professionalId:
                  type: string
                  description: ID del profesional
                  example: 123456
                metadata:
                  type: object
                  description: Metadatos adicionales de la consulta
                  example: { "patient_id": "123456", "attendance_id": "123456" }
                reason:
                  type: string
                  description: Motivo de la consulta
                  example: ""
                notes:
                  type: string
                  description: Anotaciones adicionales
                  example: ""
              required:
                - professionalId
      responses:
        "201":
          description: Consulta creada con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID de la consulta
                    example: d3rqusph8u84z5n5d0ktbdjo
                  transcription:
                    type: string
                    description: Transcripción de la consulta
                    example: ""
                  recording:
                    type: object
                    description: Informaciones de la grabación
                    properties:
                      id:
                        type: string
                        description: ID de la grabación
                        example: xg9nwsq70bu2hjdxz7fq1q4w
                  report:
                    type: object
                    description: Reporte de la consulta
                    example: {}
                required:
                  - id
                  - recording
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "422":
          description: Error de validación
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    description: Lista de mensajes de error de validación
                    items:
                      type: string
                    example: ["metadata must be an object"]
                  error:
                    type: string
                    description: Tipo del error
                    example: "Unprocessable Entity"
                  statusCode:
                    type: integer
                    description: Código del status HTTP
                    example: 422
                required:
                  - message
                  - error
                  - statusCode
  /consultations/v2/{DAAI_CONSULTATION_ID}/recordings/{DAAI_RECORDING_ID}/chunks:
    post:
      tags:
        - Consultations
      summary: Mandar chunk de audio
      description: Envía un chunk de audio de la consulta. Los chunks deben ser enviados en orden secuencial usando el parámetro chunkIndex.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                recording:
                  type: string
                  format: binary
                duration:
                  type: integer
                  example: "270"
                chunkIndex:
                  type: integer
                  example: "0"
      parameters:
        - name: DAAI_CONSULTATION_ID
          in: path
          schema:
            type: string
          required: true
        - name: DAAI_RECORDING_ID
          in: path
          schema:
            type: string
          required: true
      responses:
        "201":
          description: Chunk enviado con éxito
        "400":
          description: Solicitud inválida
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: "Recording is required"
                  error:
                    type: string
                    description: Tipo del error
                    example: "Bad Request"
                  statusCode:
                    type: integer
                    description: Código del status HTTP
                    example: 400
                required:
                  - message
                  - error
                  - statusCode
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "404":
          description: Consulta no encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: Consultation not found
                  error:
                    type: string
                    description: Tipo del error
                    example: Not Found
                  statusCode:
                    type: integer
                    description: Código del status HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
  /consultations/v2/{DAAI_CONSULTATION_ID}/recordings/{DAAI_RECORDING_ID}/finish:
    post:
      tags:
        - Consultations
      summary: Terminar consulta
      description: Termina la consulta e inicia el procesamiento del audio. La especialidad puede ser especificada para determinar el template del reporte.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                specialty:
                  type: string
                  description: Especialidad de la consulta. Si no informada, será considerada como 'generic'
                  default: generic
                  example: generic
                reportSchema:
                  type: object
                  description: |
                    Esquema do relatório. Se não informado, será considerado o esquema padrão da especialidade ou o configurado globalmente.

                    - O campo `schema` deve ser um **JSON Schema válido**, conforme a [especificação oficial](https://json-schema.org/specification). Isso garante que o relatório gerado siga a estrutura esperada.
                    - O campo `fewShots` deve conter exemplos que **satisfazem o schema definido**.

                    > **Dica:** É possível testar e validar a configuração do relatório customizado diretamente no backoffice, na aba de transformação nas configurações da aplicação. Assim, você pode experimentar diferentes schemas e exemplos antes de aplicar em produção.
                  properties:
                    instructions:
                      type: string
                      description: Instruções para geração do relatório
                      example: O relatório deve ser escrito em português brasileiro e deve conter as informações do paciente, da consulta e do diagnóstico.
                    schema:
                      type: object
                      description: Schema JSON do conteúdo do relatório
                      properties:
                        type:
                          type: string
                          example: object
                        required:
                          type: array
                          items:
                            type: string
                        properties:
                          type: object
                          additionalProperties: true
                        additionalProperties:
                          type: boolean
                      required:
                        - type
                        - required
                        - properties
                        - additionalProperties
                    fewShots:
                      type: string
                      description: Exemplos de preenchimento do relatório em formato JSON string
                      example: '[{"foo":1,"bar":"test"},{"foo":2,"bar":"test2"}]'
                  required:
                    - instructions
                    - schema
      parameters:
        - name: DAAI_CONSULTATION_ID
          in: path
          schema:
            type: string
          required: true
        - name: DAAI_RECORDING_ID
          in: path
          schema:
            type: string
          required: true
      responses:
        "201":
          description: Consulta finalizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID da consulta
                    example: s0q0ud3fi1d9kcwjrt8vs50n
                  transcription:
                    type: string
                    description: Transcrição da consulta
                    example: ""
                  recording:
                    type: object
                    description: Informações da gravação
                    example: {}
                  report:
                    type: object
                    description: Relatório da consulta
                    properties:
                      specialty:
                        type: string
                        description: Especialidade da consulta
                        example: generic
                      content:
                        type: object
                        description: Conteúdo do relatório
                        example: {}
                  metadata:
                    type: object
                    description: Metadados da consulta
                    example: {}
                required:
                  - id
                  - transcription
                  - recording
                  - report
                  - metadata
        "422":
          description: Erro de validação
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    description: Lista de mensagens de erro de validação
                    items:
                      type: string
                    example: ["specialty must be a string"]
                  error:
                    type: string
                    description: Tipo do erro
                    example: "Unprocessable Entity"
                  statusCode:
                    type: integer
                    description: Código do status HTTP
                    example: 422
                required:
                  - message
                  - error
                  - statusCode
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "404":
          description: Consulta não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de erro
                    example: Consultation not found
                  error:
                    type: string
                    description: Tipo do erro
                    example: Not Found
                  statusCode:
                    type: integer
                    description: Código do status HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
  /consultations:
    post:
      tags:
        - Consultations
      summary: Crear consulta en un único paso
      description: |
        <Warning>
        Ao utilizar esse endpoint, o tempo de resposta pode ser maior, pois o áudio é processado em um único passo.
        </Warning>

        Cria uma nova consulta médica com o áudio em um único passo, sem necessidade de enviar chunks separadamente.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                recording:
                  type: string
                  format: binary
                  description: Arquivo de áudio da consulta
                specialty:
                  type: string
                  description: Especialidade da consulta. Se não informada, será considerada como 'generic'
                  default: generic
                  example: generic
                notes:
                  type: string
                  description: Anotações adicionais
                  example: ""
                reason:
                  type: string
                  description: Motivo da consulta
                  example: ""
                professionalId:
                  type: string
                  description: ID do profissional
                  example: "123456"
                metadata:
                  type: object
                  description: Metadados adicionais da consulta
                  example: { "patient_id": "123456", "attendance_id": "123456" }
              required:
                - recording
                - professionalId
      responses:
        "201":
          description: Consulta criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID da consulta
                    example: s0q0ud3fi1d9kcwjrt8vs50n
                  transcription:
                    type: string
                    description: Transcrição da consulta
                    example: ""
                  recording:
                    type: object
                    description: Informações da gravação
                    example: {}
                  report:
                    type: object
                    description: Relatório da consulta
                    properties:
                      specialty:
                        type: string
                        description: Especialidade da consulta
                        example: generic
                      content:
                        type: object
                        description: Conteúdo do relatório
                        example: {}
                  metadata:
                    type: object
                    description: Metadados da consulta
                    example: {}
                required:
                  - id
                  - transcription
                  - recording
                  - report
                  - metadata
        "422":
          description: Erro de validação
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    description: Lista de mensagens de erro de validação
                    items:
                      type: string
                    example: ["recording is required"]
                  error:
                    type: string
                    description: Tipo do erro
                    example: "Unprocessable Entity"
                  statusCode:
                    type: integer
                    description: Código do status HTTP
                    example: 422
                required:
                  - message
                  - error
                  - statusCode
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
  /specialties:
    get:
      tags:
        - Consultations
      summary: Especialidades disponibles
      description: Retorna la lista de todas las especialidades disponibles con sus respectivos templates de reporte.
      responses:
        "200":
          description: Lista de especialidades disponíveis e seus templates de conteúdo
          content:
            application/json:
              schema:
                type: object
                properties:
                  specialties:
                    type: object
                    description: Dicionário de especialidades, onde cada chave é o identificador da especialidade
                    additionalProperties:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Nome da especialidade
                        content:
                          type: object
                          description: Template de conteúdo da especialidade. A estrutura é flexível e pode variar de acordo com a especialidade
                      required:
                        - title
                        - content
                example:
                  specialties:
                    generic:
                      title: Generalista
                      content:
                        patientInformation:
                          index: 0
                          title: Informações do paciente
                          content:
                            name:
                              title: Nome
                              content: []
                            age:
                              title: Idade
                              content: []
                    psychiatry:
                      title: Psiquiatria
                      content:
                        patientInformation:
                          index: 0
                          title: Informações do paciente
                          content:
                            name:
                              title: Nome
                              content: []
                            age:
                              title: Idade
                              content: []
  /consultations/{DAAI_CONSULTATION_ID}:
    get:
      tags:
        - Consultations
      summary: Obtener consulta
      description: Retorna los detalles de una consulta específica, incluyendo transcripción, grabación y reporte médico estructurado.
      parameters:
        - name: DAAI_CONSULTATION_ID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Detalhes da consulta
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID da consulta
                    example: s0q0ud3fi1d9kcwjrt8vs50n
                  transcription:
                    type: string
                    description: Transcrição do áudio da consulta
                    example: O paciente veio a mim na primeira consulta no dia 23 de julho de 2024, com histórico, uma história patológica pré-grécia e atual de fibromialgia.
                  recording:
                    type: object
                    description: Informações da gravação
                    properties:
                      duration:
                        type: integer
                        description: Duração em segundos
                        example: 12
                      url:
                        type: string
                        description: URL da gravação
                        example: https://storage.googleapis.com/doctor-assistant-consultations-stage/patients/unidentified/consultations/s0q0ud3fi1d9kcwjrt8vs50n/recordings/uh6iy80wogqnnnyvrdpk59k3-optimized.mp3
                    required:
                      - duration
                      - url
                  report:
                    type: object
                    description: Relatório da consulta
                    properties:
                      specialty:
                        type: string
                        description: Especialidade da consulta
                        example: generic
                      content:
                        type: object
                        description: Conteúdo do relatório
                        properties:
                          icd_json:
                            type: object
                            description: Informações de CID
                            properties:
                              assessment:
                                type: object
                                properties:
                                  content:
                                    type: object
                                    properties:
                                      description:
                                        type: object
                                        properties:
                                          title:
                                            type: string
                                          content:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                icd:
                                                  type: array
                                                  items:
                                                    type: string
                                                content:
                                                  type: string
                          summary_json_pt:
                            type: object
                            description: Sumário da consulta em português. A estrutura deste objeto é flexível e segue o template da especialidade definido no endpoint /specialties
                          medicalPrescription:
                            type: object
                            description: Prescrições médicas
                            properties:
                              medications:
                                type: object
                                properties:
                                  title:
                                    type: string
                                  content:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        dose:
                                          type: string
                                        name:
                                          type: string
                                        usage:
                                          type: string
                                        possible_medications_anvisa:
                                          type: array
                                          items:
                                            type: object
                      metadata:
                        type: object
                        description: Metadados adicionais da consulta
                required:
                  - id
                  - transcription
                  - recording
                  - report
                  - metadata
        "404":
          description: Consulta não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de erro
                    example: Consultation not found
                  error:
                    type: string
                    description: Tipo do erro
                    example: Not Found
                  statusCode:
                    type: integer
                    description: Código do status HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
  /consultations/{DAAI_CONSULTATION_ID}/events:
    get:
      tags:
        - Consultations
      summary: Eventos de la consulta
      description: Endpoint Server-Sent Events (SSE) para recibir actualizaciones en tiempo real sobre la consulta
      parameters:
        - name: DAAI_CONSULTATION_ID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Stream de eventos estabelecido com sucesso
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    description: Tipo do evento
                    enum:
                      - consultation.in-progress
                      - consultation.completed
                      - consultation.integrated
                    example: consultation.integrated
                required:
                  - event
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "404":
          description: Consulta não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de erro
                    example: Consultation not found
                  error:
                    type: string
                    description: Tipo do erro
                    example: Not Found
                  statusCode:
                    type: integer
                    description: Código do status HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
  /exams/batch:
    post:
      tags:
        - Exams
      summary: Procesar exámenes en lote
      description: Envía uno o más archivos de examen para ser procesados y devuelve el resultado de la creación. El procesamiento se realiza en lotes y de forma asíncrona, por lo que es necesario consultar el examen después de la creación o tener un webhook configurado para recibir los datos.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: x-daai-professional-id
          in: header
          required: true
          schema:
            type: string
          description: ID del profesional responsable del procesamiento de los exámenes
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 10
                  description: Archivos de examen para procesamiento - acepta imágenes (JPG, PNG, etc.) y PDF (máximo 10 archivos, 25MB cada uno)
                metadata:
                  type: string
                  description: Metadatos adicionales en formato JSON string (opcional)
                  example: '{"patient_id": "123456", "exam_type": "blood_test"}'
              required:
                - files
      responses:
        "200":
          description: Exámenes procesados exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fileName:
                      type: string
                      description: Nombre del archivo enviado
                      example: "Hemograma_Completo.pdf"
                    success:
                      type: boolean
                      description: Indica si el procesamiento fue exitoso
                      example: true
                    data:
                      type: object
                      description: Datos del examen procesado
                      properties:
                        id:
                          type: string
                          description: ID único del examen procesado
                          example: "qcp84rvitjjafjur1mmmy6ka"
                        status:
                          type: string
                          description: Estado del procesamiento
                          enum:
                            ["pending", "in-progress", "completed", "failed"]
                          example: "pending"
                        metadata:
                          type: object
                          description: Metadatos del examen conforme enviado en la solicitud
                          example:
                            {
                              "patient_id": "123456",
                              "exam_type": "blood_test",
                            }
                        content:
                          type: object
                          description: Contenido procesado del examen
                          example: {}
                      required:
                        - id
                        - status
                        - metadata
                        - content
                  required:
                    - fileName
                    - success
                    - data
        "400":
          description: Solicitud inválida
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: "Files are required"
                  error:
                    type: string
                    description: Tipo de error
                    example: "Bad Request"
                  statusCode:
                    type: integer
                    description: Código de estado HTTP
                    example: 400
                required:
                  - message
                  - error
                  - statusCode
        "401":
          description: No autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "413":
          description: Archivo demasiado grande
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: "File size exceeds 25MB limit"
                  error:
                    type: string
                    description: Tipo de error
                    example: "Payload Too Large"
                  statusCode:
                    type: integer
                    description: Código de estado HTTP
                    example: 413
                required:
                  - message
                  - error
                  - statusCode
  /exams/{EXAM_ID}:
    get:
      tags:
        - Exams
      summary: Obtener examen por ID
      description: Devuelve los detalles de un examen específico, incluyendo el contenido procesado con resultados estructurados.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: EXAM_ID
          in: path
          required: true
          schema:
            type: string
          description: ID único del examen
          example: "rnq71oedacu1ieqmpc80yu3x"
        - name: x-daai-professional-id
          in: header
          required: true
          schema:
            type: string
          description: ID del profesional responsable del procesamiento de los exámenes
      responses:
        "200":
          description: Examen encontrado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID único del examen
                    example: "rnq71oedacu1ieqmpc80yu3x"
                  status:
                    type: string
                    description: Estado del procesamiento
                    enum: ["pending", "in-progress", "completed", "failed"]
                    example: "completed"
                  metadata:
                    type: object
                    description: Metadatos del examen conforme enviado en la solicitud
                    example:
                      { "patient_id": "123456", "exam_type": "blood_test" }
                  content:
                    type: object
                    description: |
                      Contenido procesado del examen con estructura flexible. El schema varía según el tipo de examen y puede incluir:
                      - `date`: Fecha del examen
                      - `tests`: Array con resultados de las pruebas
                      - `exam_type`: Tipo de examen
                      - `patient_name`: Nombre del paciente
                      - Otros campos específicos del tipo de examen
                    properties:
                      date:
                        type: object
                        description: Fecha del examen
                        properties:
                          title:
                            type: string
                            example: "Fecha del Examen"
                          content:
                            type: string
                            example: "24/11/2017"
                      tests:
                        type: object
                        description: Resultados de las pruebas
                        properties:
                          title:
                            type: string
                            example: "Resultados de Exámenes"
                          content:
                            type: array
                            items:
                              type: object
                              properties:
                                test_name:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: "Nombre del Examen"
                                    content:
                                      type: string
                                      example: "Eritrocitos"
                                result:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: "Resultado"
                                    content:
                                      type: string
                                      example: "4,24 millones/mm3"
                                numeric_result:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: "Resultado numérico"
                                    content:
                                      type: string
                                      example: "4,24 millones/mm3"
                                reference_value:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: "Valor de Referencia"
                                    content:
                                      type: array
                                      items:
                                        type: string
                                      example: ["3,90 a 5,03 millones/mm3"]
                                is_normal:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: "Dentro del intervalo de referencia"
                                    content:
                                      type: boolean
                                      example: true
                      exam_type:
                        type: object
                        description: Tipo de examen
                        properties:
                          title:
                            type: string
                            example: "Tipo de Examen"
                          content:
                            type: string
                            example: "Examen de Análisis Clínicos"
                      patient_name:
                        type: object
                        description: Nombre del paciente
                        properties:
                          title:
                            type: string
                            example: "Nombre del Paciente"
                          content:
                            type: string
                            example: "DEBORA CHRISTINA TEIXEIRA PINHEIRO"
                    additionalProperties: true
                required:
                  - id
                  - status
                  - metadata
                  - content
        "401":
          description: No autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "404":
          description: Examen no encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: "Exam not found"
                  error:
                    type: string
                    description: Tipo de error
                    example: "Not Found"
                  statusCode:
                    type: integer
                    description: Código de estado HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
  /exams/{EXAM_ID}/events:
    get:
      tags:
        - Exams
      summary: Eventos del examen
      description: Endpoint Server-Sent Events (SSE) para recibir actualizaciones en tiempo real sobre el procesamiento del examen
      security:
        - ApiKeyAuth: []
      parameters:
        - name: EXAM_ID
          in: path
          required: true
          schema:
            type: string
          description: ID único del examen
          example: "rnq71oedacu1ieqmpc80yu3x"
        - name: x-daai-professional-id
          in: header
          required: true
          schema:
            type: string
          description: ID del profesional responsable del procesamiento de los exámenes
      responses:
        "200":
          description: Flujo de eventos establecido exitosamente
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    description: Tipo de evento
                    enum:
                      - exam.pending
                      - exam.processing
                      - exam.completed
                      - exam.failed
                    example: exam.completed
                required:
                  - event
        "401":
          description: No autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  statusCode:
                    type: integer
                    example: 401
                required:
                  - message
                  - statusCode
        "404":
          description: Examen no encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de error
                    example: "Exam not found"
                  error:
                    type: string
                    description: Tipo de error
                    example: "Not Found"
                  statusCode:
                    type: integer
                    description: Código de estado HTTP
                    example: 404
                required:
                  - message
                  - error
                  - statusCode
  /summaries:
    post:
      tags:
        - Summaries
      summary: Sumarización de Documentos [Próximamente]
      description: |
        <Warning>
        🚧 Esta API está atualmente em desenvolvimento e estará disponível em breve.
        Ela permitirá a geração de sumários inteligentes de documentos médicos.
        </Warning>
      responses:
        "200":
          description: Em desenvolvimento
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API em desenvolvimento
